* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.waiting {
    height: 50vh;
}

@media (max-width: 375px) {
    .coming-soon-cd {
        text-align: center;
    }
    .waiting {
        height: 15vh;
        margin-top: 20px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .coming-soon-cd {
        text-align: center;
    }
    .waiting {
        height: 22vh;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .waiting {
        height: 35vh;
        margin-top: 20px;
    }
}

@media (max-width: 1024px) {
    .waiting {
        height: 35vh;
        margin-top: 20px;
    }
}